/* FEATURES LOAN */

.cp-nextpayment, .cp-fico {
  background: var(--gradientgray);
  border-radius: 50%;
}
.info-circle {
  display: inline-block;
  padding: 25px;
  width: 300px;
  height: 300px;
  margin: 0 -20px;
  overflow: hidden;
}
.info-circle::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 100%;
}
.info-circle h2 {
  font-size: 16px;
  color: var(--lpblue);
  text-transform: uppercase;
  font-weight: 700;
  height: 100px;
  margin: 0;
}
.cp-loanstatus h2 {
  padding-top: 60px;
}
.info-circle h2 img{
  display: block;
  margin: auto;
}
.info-circle h2 span {
  border-bottom: 2px solid var(--lpteal);
}
.cp-balance {
  font-size: 40px;
  font-weight: 800;
  color: var(--lpblue);
  position: absolute;
  top: 40%;
  width: 75%;
  text-align: center;
}
.cp-payment {
  font-size: 50px;
  font-weight: 800;
  color: var(--lpblue);
  margin: 0;
}
.cp-text-payment-date {
  color: var(--darkgray);
  font-weight: 500;
  margin: 5px 0;
}
.cp-text-payment  {
  margin: 0;
}
/* LOAN CHART */

.chart-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.loan-chart {
  width: 144%;
  height: 144%;
  background: transparent;
  position: absolute;
  left: -22%;
  top: -22%;
}
.amcharts-chart-div a {
  display: none !important;
}
.amcharts-legend-div {
  position: absolute;
  text-align: left;
  width: 50%;
  height: 200px;
  top: 40%;
  left: 15%;
}

/* RESPONSIVE */

@media (max-width: 1024px) and (min-width: 960px) {
  .info-circle {
    width: 240px;
    height: 240px;
    margin: 15px -20px;
  }
  .info-circle h2 {
    height: 85px;
  }
  .info-circle h2 img {
    width: 55px;
  }
}

@media (max-width: 959px) {
  .cp-balance {
    width: 43%;
  }
  .uk-button-large {
    width: 50%;
  }
  .info-circle h2 {
    margin-top: 20px;
  }

}

@media (max-width: 568px) {

}
@media (max-width: 320px) {

}
